$red: #f45a40;
$top-bar-border: #c7c7c7;
$cart-grey: #ededed;
$main-text: #7e7f84;
$dark-grey: #67686d;
$border: #eeeeee;
$white: #ffffff;
$newsletter-red: #ff674f;
$footer-bg: #2a2d34;
$dropdown: #999999;
$black: #000000;
$tabs-border: #cccccc;
$tabs-bg: #f2f1f1;