.categories {
	height:450px;
	width:100%;
	display:flex;
	align-items:center;
	
	@media screen and (max-width:$small-break) {
		margin:50px 0;
		height:auto;
		flex-direction:column;
		text-align:center;
	}

	p {
		color:$main-text;
		font-family:arial, sans-serif;
		font-size:14px;

		@media screen and (max-width:$small-break) {
			margin-bottom:25px;
		}
	}

	h2 {
		color:$red;
		font-family:'PT Sans', sans-serif;
		font-size:22px;
		text-transform:uppercase;
		margin:25px 0;

		@media screen and (max-width:$small-break) {
			margin-top:10px;
			margin-bottom:15px;
		}
	}

	a {
		&:hover {
			text-decoration:none;

			h2 {
				text-decoration:underline;
			}
		}
	}

	.col-xs-12, .col-md-4 {
		padding:0 15px;
		box-sizing:content-box;

		&:first-of-type {
			padding-left:0px;
		}

		&:last-of-type {
			padding-right:0px;
		}
	}

}